/**************************/
/* HEADER*/
/**************************/
.header {
  /* background-color: #fff; */
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem;
}

.header-img {
  transform: rotate(-35deg);
  width: 10%;
}

.header-nav {
  display: flex;
  gap: 8rem;
}

.color-select {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}

.color-item {
  display: block;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.5s;
  border: 1px solid #eee200;
}

.color-select__retro {
  background-color: #eee200;
}
.color-select__vintage {
  background-color: #f9d3a8;
}
.color-select__classic {
  background-color: #fffee6;
}

/**************************/
/* HERO SECTION*/
/**************************/
video {
  position: absolute;
  top: 0;
  left: 0;
  height: 68.6rem;
  width: 100vw;
  object-fit: cover;
  display: block;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 68.6rem;
  width: 100vw;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.hero-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.6rem;
}

.hero-option {
  list-style: none;
  padding-left: 10rem;
  line-height: 1.4;
}

.hero-option__list:link,
.hero-option__list:visited {
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 900;
  color: inherit;
  position: relative;
}

.hero-option__list:hover,
.hero-option__list:active {
  /* text-shadow: 0px 0px 3px #eee200; */
}

.hero-option__list:after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  background-color: #eee200;
  width: 0rem;
  height: 0.5rem;
  border-radius: 11px;
  transition: all 0.5s;
}

.hero-option__list:hover:after,
.hero-option__list:active:after {
  width: 13rem;
}

.hero-describe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12rem;
}

.hero-describe__intro {
  font-size: 1.4rem;
  flex-basis: 40%;
  letter-spacing: 0.6px;
}

.hero-describe__scroll {
  font-size: 3.6rem;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}
.hero-describe__time {
  font-size: 1.1rem;
  text-transform: uppercase;
  display: flex;
  gap: 2rem;
}

.copyright {
  align-self: flex-end;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1;
}

.icon-scroll {
  padding: 1rem;
  box-shadow: 0px 0px 5px #eee200;
  border-radius: 50%;
}

.icon-scroll:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #eee200;
}

/**************************/
/* DESCRIBE SECTION*/
/**************************/
.describe-section {
  color: #111;
  margin-bottom: 9.6rem;
}

.grid-describe {
  padding-top: 12rem;
  column-gap: 6rem;
  row-gap: 9rem;
}

.describe-img {
  width: 100%;
  display: block;
  border: 4px solid #111;
}

.text-box {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
}

.img-box__first {
  width: 80%;
  grid-row: span 2;
  justify-self: end;
}

.text-box__first {
  padding-right: 8rem;
  justify-self: start;
}

.text-box__second {
  padding-right: 16rem;
  justify-self: start;
}

.img-text-box {
  grid-row: span 2;
  display: flex;
  gap: 4rem;
  align-self: center;
}

.img-text-box img {
  height: 70%;
  width: 55%;
  object-fit: cover;
}

.img-box__third {
  grid-row: span 2;
}

.text-box__fourth,
.img-box__third,
.text-box__fifth {
  width: 80%;
  justify-self: end;
}

.img-box__third {
  justify-self: start;
}

/**************************/
/* FOOTER SECTION*/
/**************************/
.footer {
  color: #111;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.footer-navigation,
.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-options {
  list-style: none;
}

.footer-navigation__list:link,
.footer-navigation__list:visited,
.footer-info__link:link,
.footer-info__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 2.2rem;
  font-weight: 600;
}

.footer-navigation__list:hover,
.footer-navigation__list:active,
.footer-info__link:hover,
.footer-info__link:active {
  color: #000;
}

.footer-scroll {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.footer-scroll__text {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 900;
}

.footer-scroll__icon {
  background-color: #000;
  border-radius: 50%;
  height: 5.2rem;
  width: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-scroll__icon:hover {
  box-shadow: 0px 0px 5px #000;
  cursor: pointer;
}

.footer-icon {
  color: #eee200;
  font-size: 3.2rem;
}

.footer-info__time {
  display: flex;
  flex-direction: column;
}

.footer-info__time div {
  gap: 4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-info__meta {
  display: flex;
  flex-direction: column;
}

.footer-extra {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contact {
  font-size: 1.8rem;
  font-weight: 800;
}

.contact-link:link,
.contact:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
}

.conclude {
  font-size: 1.2rem;
  font-weight: 800;
  flex: 0 1 60rem;
}
