.footer {
  color: #111;
  @extend %flex-column-placeholder;
  gap: 4.8rem;

  &__options,
  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    list-style: none;
  }

  &__nav-list {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      font-size: 2.2rem;
      font-weight: 600;
    }
    &:hover,
    &:active {
      color: #000;
    }
  }

  &__scroll {
    @extend %flex-column-placeholder;
    gap: 2.4rem;
    align-items: center;

    &-text {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 900;
    }

    &-icon {
      background-color: #000;
      border-radius: 50%;
      height: 5.2rem;
      width: 5.2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        box-shadow: 0px 0px 5px #000;
        cursor: pointer;
      }
    }
  }

  &__icon {
    color: #eee200;
    font-size: 3.2rem;
  }

  &__time {
    @extend %flex-column-placeholder;
  }

  &__time div {
    gap: 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__meta {
    @extend %flex-column-placeholder;
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      font-size: 2.2rem;
      font-weight: 600;
    }
    &:hover,
    &:active {
      color: #000;
    }
  }
  &__contact {
    font-size: 1.8rem;
    font-weight: 800;
    &-link:link,
    &-link:visited {
      text-decoration: none;
      font-size: 1.8rem;
      color: #000;
    }
  }

  &__conclude {
    font-size: 1.2rem;
    font-weight: 800;
    flex: 0 1 60rem;
  }
}
