.row {
  max-width: $grid-width;

  @include respond(tab-port) {
    max-width: 60rem;
    flex-direction: column;
    padding: 0 3rem;
  }

  margin: 0 auto;
  display: flex;
  gap: 6rem;

  .col-1-of-2 {
    flex-basis: calc((100% - #{$gutter-horizontal}) / 2);

    @include respond(tab-port) {
      // align-self: center;
    }
  }
  .col-1-of-3 {
    flex-basis: calc((100% - #{$gutter-horizontal}) / 3);
  }
  .col-1-of-4 {
    flex-basis: calc((100% - #{$gutter-horizontal}) / 4);
  }
}
