.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem;

  &__img {
    transform: rotate(-35deg);
    width: 10%;
  }

  &__nav {
    display: flex;
    gap: 8rem;
  }

  &__color {
    list-style: none;
    display: flex;
    gap: 1.8rem;

    &-retro {
      background-color: #eee200;
    }
    &-vintage {
      background-color: #f9d3a8;
    }
    &-classic {
      background-color: #fffee6;
    }
  }

  &__item {
    display: block;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.5s;
    border: 1px solid #eee200;
  }
}
