.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem;

  &__img {
    transform: rotate(-35deg);
    width: 10%;
  }

  &__nav {
    display: flex;
    gap: 8rem;
  }

  &__color {
    list-style: none;
    display: flex;
    gap: 1.8rem;

    &-retro {
      background-color: var(--color-primary);
    }
    &-vintage {
      background-color: var(--color-secondary);
    }
    &-classic {
      background-color: var(--color-tertiary);
    }
  }

  &__item {
    display: block;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px inset;
  }
}
