.contact {
  display: flex;
  gap: 10rem;
  max-width: 150rem;
  margin: 0 auto;
  padding: 8rem 12rem;
  justify-content: space-between;

  &__map {
    flex: 0 0 50%;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__time {
    margin-bottom: 3rem;
    div {
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &__info {
    font-size: 1.8rem;
    color: #111;
    font-weight: 800;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &:active {
      color: #444;
    }
  }
}
