.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.regular-menu,
.beer-menu,
.coffee-tea-menu,
.cocktails-menu,
.wines-menu {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.dish {
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    text-transform: lowercase;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #000;
  }
}

.menu__option {
  list-style: none;
  line-height: 1.4;
  position: fixed;
  top: 29%;
  left: 8%;

  // CUSTOM
  &-list {
    display: inline-block;
    overflow: hidden;
    line-height: 1.2;

    &:link,
    &:visited {
      text-decoration: none;
      color: var(--color-black);
      position: relative;
      font-size: 3.2rem;
      font-weight: 900;
      padding-bottom: 0.7rem;
    }
  }
  &-list::before {
    content: "";
    @extend %absolute;
    background-image: var(--source-black);
    background-repeat: no-repeat;
    height: 1rem;
    width: 70rem;
    visibility: hidden;
    transition: visibility 1s;
    transition: animation 0.5s;
  }

  &-list:hover::before {
    visibility: visible;
    animation: moveWave 5s linear infinite;
  }
  &-modify::before {
    content: "";
    @extend %absolute;
    background-image: var(--source-black);
    background-repeat: no-repeat;
    height: 1rem;
    width: 70rem;
    visibility: visible;
  }
}

aside {
  position: fixed;
  top: 30%;
  right: 3%;
  color: #000;
  font-size: 1.8rem;
  font-weight: 800;
  width: 21%;
  letter-spacing: -0.75px;
}

.wines-menu .menu-first {
  position: relative;
}

.wine-img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 3%;
}
