.main {
  &__nav {
    @extend %absolute-top-left;
    background-color: var(--color-primary);
    width: 100vw;
    height: 55rem;
    color: var(--color-black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    row-gap: 10rem;
    padding: 15rem 20rem;
    z-index: 8;
    transform: translateY(-200%);
    transition: all 1s linear;

    @media only screen and (max-width: $bp-medium) {
      height: 100vh;
      padding: 15rem;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      row-gap: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 10rem 3rem 8rem;
      row-gap: 6rem;
    }
  }

  &__nav-active {
    transform: translateY(0);
  }

  &__btn-open {
    @extend %main-menu-btn;

    &::before {
      content: "Menu";
      @extend %absolute-center;
      margin-left: 0.1rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 900;
      letter-spacing: 1px;
      text-align: center;
      color: var(--color-primary);
    }
  }

  &__btn-close {
    @extend %main-menu-btn;
  }

  &__btn-icon {
    @extend %absolute-center;
    font-size: 2rem;
    color: var(--color-primary);
  }

  &__options {
    grid-row: 1/-1;
    justify-self: start;
    list-style: none;
  }

  &__options-list {
    &:link,
    &:visited {
      @extend %options-list;

      // CUSTOM
      display: inline-block;
      overflow: hidden;
      line-height: 1.1;

      @media only screen and (max-width: $bp-medium) {
        font-size: 5rem;
        line-height: 1.1;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 3.8rem;
        line-height: 1.05;
      }
    }
  }

  &__options-list::before {
    content: "";
    @extend %absolute;

    background-repeat: no-repeat;
    height: 1rem;
    width: 70rem;
    visibility: hidden;
    transition: visibility 1s;
    transition: animation 0.5s;
    // CUSTOM
    background-image: var(--source-black);

    @media only screen and (max-width: $bp-medium) {
      width: 105rem;
    }
  }

  &__options-list:hover::before {
    visibility: visible;
    animation: moveWave 6s linear infinite;
  }

  &__options-modify::before {
    content: "";
    @extend %absolute;
    background-image: var(--source-black);
    background-repeat: no-repeat;
    height: 1rem;
    width: 70rem;
    visibility: visible;

    @media only screen and (max-width: $bp-medium) {
      width: 105rem;
    }
  }

  &__time {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    justify-self: start;
    padding-left: 20rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0;
      font-size: 2.2rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.6rem;
    }

    div {
      display: flex;
      gap: 6rem;
      justify-content: space-between;
    }
  }

  &__contact {
    font-size: 1.6rem;
    font-weight: 800;
    justify-self: start;
    padding-left: 20rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0;
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      font-size: 1.6rem;
      color: var(--color-black);

      @media only screen and (max-width: $bp-medium) {
        font-size: 2.6rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 1.6rem;
      }
    }
  }
}
