@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// KHAC VE TEXT, TOP, RIGHT, HEIGHT

.header__color-retro {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-button);
    transition: all 0.5s;
  }
  &::before {
    content: "RetroYellow";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40%;
    width: max-content;
    height: 8rem;
    transform: rotate(90deg);
    visibility: hidden;
    color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 10;
    transition: all 0.25s;
  }
  &:hover::after {
    height: 8rem;
  }

  &:hover::before {
    color: var(--color-black);
    visibility: visible;
  }
}

.header__color-vintage {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-button);
    transition: all 0.5s;
  }
  &::before {
    content: "VintageSalmon";
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 0;
    width: max-content;
    height: 8rem;
    transform: rotate(90deg);
    visibility: hidden;
    color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 10;
    transition: all 0.25s;
  }
  &:hover::after {
    height: 10rem;
  }

  &:hover::before {
    color: var(--color-black);
    visibility: visible;
  }
}

.header__color-classic {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-button);
    transition: all 0.5s;
  }
  &::before {
    content: "ClassicEcru";
    display: inline-block;
    position: absolute;
    top: -5%;
    right: 55%;
    width: max-content;
    height: 8rem;
    transform: rotate(90deg);
    visibility: hidden;
    color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 10;
    transition: all 0.25s;
  }
  &:hover::after {
    height: 8rem;
  }

  &:hover::before {
    color: var(--color-black);
    visibility: visible;
  }
}

.header__color-retro-active {
  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-button);
    outline-offset: 2px;
    transition: all 0.5s;
  }

  &:hover::after {
    height: 8rem;
  }
}

.header__color-vintage-active {
  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-button);
    outline-offset: 2px;
    transition: all 0.5s;
  }

  &:hover::after {
    height: 10rem;
  }
}

.header__color-classic-active {
  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-button);
    outline-offset: 2px;
    transition: all 0.5s;
  }

  &:hover::after {
    height: 8rem;
  }
}

// CHO CAC PAGE THUOC HOMEPAGE
.header__retro-modify {
  position: relative;

  background-color: var(--color-primary);

  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-black);
    // outline-offset: 2px;
    transition: all 0.5s;
  }
  &::before {
    content: "RetroYellow";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40%;
    width: max-content;
    height: 8rem;
    transform: rotate(90deg);
    visibility: hidden;
    color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 10;
    transition: all 0.25s;
  }
  &:hover::after {
    height: 8rem;
  }

  &:hover::before {
    color: var(--color-black);
    visibility: visible;
  }
}

.header__vintage-modify {
  position: relative;

  background-color: var(--color-secondary);

  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-black);
    // outline-offset: 2px;
    transition: all 0.5s;
  }
  &::before {
    content: "VintageSalmon";
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 0;
    width: max-content;
    height: 8rem;
    transform: rotate(90deg);
    visibility: hidden;
    color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 10;
    transition: all 0.25s;
  }
  &:hover::after {
    height: 10rem;
  }

  &:hover::before {
    color: var(--color-black);
    visibility: visible;
  }
}

.header__classic-modify {
  position: relative;

  background-color: var(--color-tertiary);

  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-black);
    // outline-offset: 2px;
    transition: all 0.5s;
  }
  &::before {
    content: "ClassicEcru";
    display: inline-block;
    position: absolute;
    top: -5%;
    right: 55%;
    width: max-content;
    height: 8rem;
    transform: rotate(90deg);
    visibility: hidden;
    color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 10;
    transition: all 0.25s;
  }
  &:hover::after {
    height: 8rem;
  }

  &:hover::before {
    color: var(--color-black);
    visibility: visible;
  }
}

.header__retro-active {
  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-black);
    // CUSTOM: Them box-shadow va tang outline-offset
    box-shadow: 0px 0px 0px 1px black;
    outline-offset: 3px;
    //
    transition: all 0.3s;
  }

  &:hover::after {
    height: 8rem;
  }
}

.header__vintage-active {
  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-black);
    // CUSTOM
    outline-offset: 3px;
    box-shadow: 0px 0px 0px 1px black;
    //
    transition: all 0.3s;
  }

  &:hover::after {
    height: 10rem;
  }
}

.header__classic-active {
  &::after {
    content: "";
    display: inline-block;
    @extend %absolute-top-left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100px;
    outline: 1px solid var(--color-black);
    // CUSTOM
    outline-offset: 3px;
    box-shadow: 0px 0px 0px 1px black;
    //
    transition: all 0.5s;
  }

  &:hover::after {
    height: 8rem;
  }
}
