body {
  font-family: "Nunito", sans-serif;
  color: var(--color-primary);
}

.heading-primary {
  font-size: 14rem;
  font-weight: 900;
}

.heading-secondary {
  font-size: 6rem;
  font-weight: 900;
  color: var(--color-black);
}

.heading-tertiary {
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  line-height: 1;
}

.heading-bonus {
  letter-spacing: 0.65px;
  font-size: 2.4rem;
  font-weight: 800;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.8rem;
  }
}

.heading-middle {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-weight: 700;
}

.heading__direct {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-black);
  text-align: center;
  &-modify {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
  }
}

h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.strong {
  font-weight: 800;
}
