/**************************/
/* SECTION HERO*/
/**************************/
.section-hero {
  margin-bottom: 3.4rem;
}

.hero {
  &__detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.8rem;
  }

  &__options {
    list-style: none;
    padding-left: 10rem;
    line-height: 1.4;
  }

  &__options-list {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 3.2rem;
      font-weight: 900;
      color: inherit;
      position: relative;
    }
  }
  &__options-list:after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    background-color: var(--color-primary);
    width: 0rem;
    height: 0.5rem;
    border-radius: 11px;
    transition: all 0.5s;
  }

  &__options-list:hover:after {
    width: 13rem;
  }

  &__describe {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12rem;

    &-intro {
      font-size: 1.4rem;
      flex-basis: 40%;
      letter-spacing: 0.6px;
    }

    &-scroll {
      font-size: 3.6rem;
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
    }
    &-time {
      font-size: 1.1rem;
      text-transform: uppercase;
      display: flex;
      gap: 2rem;
    }
  }

  &__scroll {
    padding: 1rem;
    box-shadow: 0px 0px 5px var(--color-primary);
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 8px var(--color-primary);
    }
  }
}

/**************************/
/* SECTION DESCRIBE*/
/**************************/

.section-describe {
  color: #111;
  margin-bottom: 9.6rem;
}

.describe {
  display: grid;
  padding-top: 12rem;
  column-gap: 6rem;
  row-gap: 9rem;

  &__img {
    width: 100%;
    display: block;
    border: 4px solid #111;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;

    &-first {
      padding-right: 8rem;
      justify-self: start;
    }

    &-second {
      padding-right: 16rem;
      justify-self: start;
    }
    &-fourth,
    &-fifth {
      width: 80%;
      justify-self: center;
    }
  }

  &__box {
    grid-row: span 2;
    display: flex;
    gap: 4rem;
    align-self: center;
  }

  &__box img {
    height: 70%;
    width: 55%;
    object-fit: cover;
  }
  &__image {
    &-first {
      width: 80%;
      grid-row: span 2;
      justify-self: end;
    }

    &-second {
      width: 80%;
      justify-self: end;
    }

    &-third {
      grid-row: span 2;
      justify-self: start;
    }
  }
}
