/**************************/
/* SECTION HERO*/
/**************************/
.section-hero {
  transition: color 0.5s;
  // CUSTOM
  padding-top: 15rem;
  position: relative;
  @media only screen and (max-width: $bp-medium) {
    height: 100vh;
  }
}

.hero {
  &__detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.8rem;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__options {
    list-style: none;
    padding-left: 10rem;
    line-height: 1.2;

    @media only screen and (max-width: $bp-large) {
      padding-left: 5rem;
    }
  }

  // CUSTOM
  &__options-list {
    display: inline-block;
    overflow: hidden;

    &:link,
    &:visited {
      @extend %options-list;
    }
  }
  &__options-list::before {
    content: "";
    @extend %absolute;
    background-image: var(--source-default);
    background-repeat: no-repeat;
    height: 1rem;
    width: 70rem;
    visibility: hidden;
    transition: visibility 1s;
    transition: animation 0.5s;
  }

  &__options-list:hover::before {
    visibility: visible;
    animation: moveWave 5s linear infinite;
  }

  &__options-modify::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: var(--source-default);
    background-repeat: no-repeat;
    height: 1rem;
    width: 70rem;
    visibility: visible;
  }

  &__describe {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      position: initial;
    }

    &-intro {
      font-size: 1.4rem;
      flex-basis: 40%;
      letter-spacing: 0.6px;

      @media only screen and (max-width: $bp-largest) {
        font-size: 1.1rem;
      }

      @media only screen and (max-width: $bp-medium) {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
        padding: 0 10rem;
        line-height: 1.05;
      }
    }

    &-scroll {
      font-size: 3.6rem;
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (max-width: $bp-medium) {
        bottom: 3%;
      }
    }

    &-time {
      font-size: 1.1rem;
      text-transform: uppercase;
      display: flex;
      gap: 2rem;

      @media only screen and (max-width: $bp-medium) {
        justify-content: space-between;
        & .copyright {
          order: -1;
        }
        position: absolute;
        bottom: 3%;
        right: 6rem;
        left: 6rem;
      }
    }
  }

  &__scroll {
    padding: 1rem;
    box-shadow: 0px 0px 0px 2px inset;
    border-radius: 50%;
    cursor: pointer;
  }
}

/**************************/
/* SECTION DESCRIBE*/
/**************************/

.section-describe {
  color: #111;
  margin-bottom: 9.6rem;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 4.8rem;
  }
}

.describe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 12rem;
  column-gap: 6rem;
  row-gap: 9rem;

  &__img {
    width: 100%;
    display: block;
    border: 4px solid #111;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;

    &-first {
      padding-right: 8rem;
      justify-self: start;

      @media only screen and (max-width: $bp-medium) {
        padding-right: 0;
      }
    }

    &-second {
      padding-right: 16rem;
      justify-self: start;

      @media only screen and (max-width: $bp-medium) {
        padding-right: 0;
      }
    }
    &-fourth,
    &-fifth {
      width: 80%;
      justify-self: center;

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        justify-self: stretch;
      }
    }
  }

  &__box {
    grid-row: span 2;
    display: flex;
    gap: 4rem;
    align-self: center;

    @media only screen and (max-width: $bp-medium) {
      gap: 2rem;
      align-self: stretch;
    }
  }

  &__box img {
    height: 70%;
    width: 55%;
    object-fit: cover;

    @media only screen and (max-width: $bp-medium) {
      height: 60%;
    }
  }

  &__image {
    &-first {
      width: 80%;
      grid-row: span 2;
      justify-self: end;

      @media only screen and (max-width: $bp-medium) {
        justify-self: start;
        width: 100%;
      }
    }

    &-second {
      width: 80%;
      justify-self: end;

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }

    &-third {
      grid-row: span 2;
      justify-self: start;
    }
  }
}
